<div class="saved">
    {{#if article}}
        {{#each article}}

            {{> modal}}
            <div>
                <h2 data-article-id= {{this._id}} id="title">{{this.title}}</h2>
                <a href= {{this.link}} class="btn btn-info btn-sm" id="link">View Article</a>

                <button type="button" class="btn btn-secondary btn-sm" id="new-comment" data-toggle="modal" data-target="#modal" data-article-id= {{this._id}}>Add Note</button>

                {{#if note}}
                    <button type="button" class="btn btn-secondary btn-sm" id="get-comments" name= {{this._id}}>View Note</button>
                {{/if}}
                <button type="button" class="btn btn-danger btn-sm" id="delete" data-article-id= {{this._id}}>Delete Article</button>

                {{> comments}}

            </div>
        {{/each}}

    {{else}}

        {{> home}}

    {{/if}}
</div>